html, body{
  margin: 0;
  padding: 0;
  background-color: grey;
}
.header{
  height: 150px;
  width: 100%;
  background-color: black;
  margin-top: 0;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 20;
}
.block{
  height: 800px;
  width: 100%;
}
.section{
  height: 200px;
  width: 100%;
  background-color: black;
}
.block2{
  height:900px;
  width: 100%;
}
.footer{
  height: 150px;
  width: 100%;
  background-color: black;
}
