html, body{
 background: grey;
 margin: 0;
 padding; 0;
}
.header{
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 20;
}
.block{
  height: 800px;
  width: 100%;
  color: white;
}
.section{
  height: 200px;
  width: 100%;
  background-color: black;
}
.block2{
  height:900px;
  width: 100%;
}
.footer{
  height: 150px;
  width: 100%;
  background-color: black;
}
h2{
  text-align:center;
  margin-top: 400px;
}
