html, body{
  margin: 0;
  padding: 0;
  background-color: grey;
}
#windows-content{
  min-height: calc(102vh - 190px);
}
.header{
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 20;
}
.block{
  display: block;
  height: 800px;
  width: 100%;
  padding-top: 150px;
  color: white;
}
h1, h5{
 text-align: center;
}
p{
  text-align:center;
  padding: 50px;
}
.section{
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}
.block2{
  height:900px;
  width: 100%;
}
.footer{
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
}
